<h1 class="text-muted text-center">Tabla con Bootstrap</h1>
<table class="table table-dark">
    <thead>

    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">1</th>
        <td colspan="3" class="table-active">Clase</td>
        <td>@youtube</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="3" class="table-active">Angular</td>
        <td>@facebook</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="3" class="table-active">Damhir</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>